if status is-interactive
    # Commands to run in interactive sessions can go here
end
bass source ~/.profile

# pipx
set PATH $PATH $HOME/.local/bin

# bun
set --export BUN_INSTALL "$HOME/.bun"
set --export PATH $BUN_INSTALL/bin $PATH

# pnpm
{{- if eq .chezmoi.os "darwin" }}
set -gx PNPM_HOME "$HOME/Library/pnpm"
{{- else }}
set -gx PNPM_HOME "$HOME/.local/share/pnpm"
{{- end }}
if not string match -q -- $PNPM_HOME $PATH
  set -gx PATH "$PNPM_HOME" $PATH
end
# pnpm end
